@keyframes upDown {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.up-down {
    animation: upDown 1.5s ease-in-out infinite;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

.forp {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
    color: #747576ff;
}

.for-desc {
    max-width: 30rem;
    font-size: 1rem;
    color: #4d4e50ff;
}

.hero-buttons {
    display: flex;
    gap: 1.6rem;
    padding-top: 1rem;
}

@media (width <=496px) {
    .hero-buttons {
        /* display: block; */
        flex-direction: column;
        gap: 1rem;
    }
}

.btn-light {
    display: inline-block;
    padding: 12px 28px;
    font-size: 1rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    margin: 0 8px;
    border: 1px solid #d1d5db;
    color: #111827;
    background-color: #fff;
    transition: 0.3s;
}

.btn-dark {
    display: inline-block;
    padding: 12px 28px;
    font-size: 1rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    margin: 0 8px;
    background-color: #111827;
    color: #fff;
    transition: 0.3s;
}

.hero-icons {
    display: flex;
    gap: 20px;
    padding-top: 1.4rem;
}

.icon {
    width: 26px;
    height: 26px;
    filter: invert(20%) sepia(5%) saturate(300%) hue-rotate(180deg);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.arrow-box {
    padding-top: 2rem;
}