.skill-section {
    /* border: 2px solid red; */
    display: grid;
    /* padding: 4rem; */
    grid-template-columns: repeat(4, 1fr);
    /* 4 equal columns */
    gap: 10px;
}

@media (width <=649px) {
    .skill-section {
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        /* flex-wrap: wrap; */
        /* display: none; */
    }
}

.skill-box {
    background-color: whitesmoke;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
}

.skill-box-medium {
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
}

.skill-box-large {
    border: 1px solid black;
    border-radius: 1rem;
}

.skill-box-design {
    border: 1px solid black;
    border-radius: 1rem;
}

.skill-content {
    text-align: left;
}

.sedo {
    border: 1px solid #ccc;
    border-radius: 9999px;
    /* makes it pill-shaped */
    padding: 4px 12px;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease;
    cursor: default;
    display: inline-block;
    flex-wrap: wrap;
}

.sedo:hover {
    border-color: #000;
    background-color: #f3f3f3;
}

.sedo {
    display: inline-block;
}